body {
	/* clear navbar-fixed-top */
	padding-top: 60px;
	background-color: #EEF1EF;
}

.FormError {
	color: red;
}

.login-display-name {
	display : none !important;
}

.center {
	/* this feels ghetto but it works, the goal was to
	center the form itself not the form content, so this is
	a div wrapping the form */
	text-align: center;
}

.select {
	width: auto;
	margin: 0px auto 5px auto;
}

#log-button {
	/* since the button was 6px taller than the text navitems,
	it was creating a funny line below the .active class,
 	so lower padding accordingly */
	padding : 12px;
}

th, tr {
	text-align: center;
}

input {
	padding-left: 5px;
	text-transform : uppercase;
}

.in a, .collapsing a {
	/* hamburger dropdown default aligns items to the left,
	even though hamburger is on the right */
	 text-align: center;
}

.navbar-text {
	margin: 17px 10px;
	font-size: 12px;
	display : inline-block;
}

.glyphicon-trash {
	color: red;
	cursor: pointer;
}

circle {
	fill: red;
	opacity: 0.3;
}