body {
	/* clear navbar-fixed-top */
	padding-top: 60px;
	background-color: #EEF1EF;
}

th, tr {
  text-align: center;
}

input {
  text-transform : uppercase;
}

circle {
  opacity: 0.5;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
}

div.tooltip { 
  position: absolute;     
  text-align: center;     
  width: 60px;          
  height: 32px;         
  padding: 2px;    
  font: 12px sans-serif;    
  background: lightsteelblue; 
  border: 0px;    
  border-radius: 8px;     
  pointer-events: none;     
}

span {
  margin: 0px 10px;
}

caption {
  text-align: center;
}

#log-button {
  /* since the button was 6px taller than the text navitems,
  it was creating a funny line below the .active class,
  so lower padding accordingly */
  padding : 12px;
}

#readMe {
  margin: 10px 15%;
}

@media screen and (max-width:699px) {
  #readMe {
    margin: 5px 5px;
  }
}

.queryList {
  margin: 10px 20%;
}

@media screen and (max-width:699px) {
  .queryList {
    margin: 5px 0px;
  }
  .queryItem {
    margin: 0px 0px 15px 0px;
  }
  .badge {
    margin: 0px 0px 0px 3px;
  }
  .queryYear {
    margin: 0px 5px;
  }
}

.FormError {
	color: red;
}

.login-display-name {
  /* default accounts name does nothing - hide that so that
  we can make user name a link to profile */
	display : none !important;
}

.center {
  text-align: center;
}

.select {
	width: auto;
	margin: 0px auto 5px auto;
}

.in a, .collapsing a {
	/* hamburger dropdown default aligns items to the left,
	even though hamburger is on the right */
	 text-align: center;
}

.navbar-text {
  text-align: center;
}

.navbar-brand {
  border-right: 1px solid #333;
}

.glyphicon-trash {
	color: red;
	cursor: pointer;
}

.glyphicon-search, .glyphicon-pencil {
  margin-left: 0px;
}

.glyphicon-question-sign {
  margin: 0px;
}

.glyphicon-thumbs-up {
  color: green;
}

.glyphicon-thumbs-down {
  color: red;
}

.btn {
	margin-top: 10px;
}

/* BEGIN SPINNER */
.spinner {
  height: 60px;
  width: 60px;
  position: relative;
  clear: both; /* spinner was overlapping, must be a better fix..?*/
  margin: 94px auto 0 auto;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left: 6px solid rgba(0, 174, 239, .15);
  border-right: 6px solid rgba(0, 174, 239, .15);
  border-bottom: 6px solid rgba(0, 174, 239, .15);
  border-top: 6px solid rgba(0, 174, 239, .8);
  border-radius: 100%;
}

#dateRange>p {
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
}

#dateRangeColors {
  width: 60px;
  height: 20px;
  background: linear-gradient(to right, hsla(356, 100%, 0%, 0.3), hsla(356, 100%, 50%, 0.5));
}

.smallPrint {
  font-size: 9px;
}

.smallIcon {
  margin: 0px;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/* END SPINNER */
